@using ASI.Basecode.Data.Models.CustomModels
@using ASI.Basecode.Data.Models
@model IEnumerable<Article>

@{
    ViewData["Title"] = "Manage Article";
    var resMsg = TempData["ResMsg"] as string;
}

<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Article</h6>
    <ul class="d-flex align-items-center gap-2">
        <li class="fw-medium">
            <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
                <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                Dashboard
            </a>
        </li>
        <li>-</li>
        <li class="fw-medium">Articles</li>
    </ul>
</div>

@if (!string.IsNullOrEmpty(resMsg))
{
    <div class="alert alert-success" role="alert">
        @resMsg
    </div>
}

<div class="mb-3">
    <form asp-action="List" method="get" class="d-flex">
        <input type="text" name="searchTerm" class="form-control me-2" placeholder="Search article title..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="row g-4">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                </div>
            </div>
        </div>
    }
</div>


<script src="~/assets/js/lib/jquery-3.7.1.min.js"></script>
<script src="~/toastr/toastr.min.js"></script>
