@using ASI.Basecode.Data.Models.CustomModels
@model ASI.Basecode.Data.Models.CustomModels.CustomUser

@{
    ViewData["Title"] = "Create";
    var resMsg = TempData["ResMsg"] as AlertMessageContent;
    var userType = ViewData["UserType"];
}

<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Update Admin User</h6>
    <ul class="d-flex align-items-center gap-2">
        <li class="fw-medium">
            <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
                <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                Dashboard
            </a>
        </li>
        <li>-</li>
        <li class="fw-medium">Update Admin User</li>
    </ul>
</div>

<div class="card h-100 p-0 radius-12">
    <div class="card-body p-24">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-10">
                <div class="card border">
                    <div class="card-body">
                        <h6 class="text-md text-primary-light mb-16">Profile Image</h6>

                        <!-- Upload Image Start -->
                        <div class="mb-24 mt-16">
                            <div class="avatar-upload">
                                <div class="avatar-edit position-absolute bottom-0 end-0 me-24 mt-16 z-1 cursor-pointer">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" hidden>
                                    <label for="imageUpload" class="w-32-px h-32-px d-flex justify-content-center align-items-center bg-primary-50 text-primary-600 border border-primary-600 bg-hover-primary-100 text-lg rounded-circle">
                                        <iconify-icon icon="solar:camera-outline" class="icon"></iconify-icon>
                                    </label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Upload Image End -->

                        <form asp-action="Edit">
                            <input type="hidden" asp-for="user.UserId" />
                            <input type="hidden" asp-for="userRole.UserRoleId" />
                            <input type="hidden" asp-for="userRole.UserId" />
                            <div class="mb-20">
                                <label asp-for="user.Name" for="name" class="form-label fw-semibold text-primary-light text-sm mb-8">Name <span class="text-danger-600">*</span></label>
                                <input asp-for="user.Name" type="text" class="form-control radius-8" id="name" placeholder="Enter full name" required>
                            </div>
                            <div class="mb-20">
                                <label asp-for="user.Email" for="email" class="form-label fw-semibold text-primary-light text-sm mb-8">Email <span class="text-danger-600">*</span></label>
                                <input asp-for="user.Email" type="email" class="form-control radius-8" id="email" placeholder="Enter email address" required>
                            </div>
                            <div class="mb-20">
                                <label asp-for="userRole.RoleId" for="email" class="form-label fw-semibold text-primary-light text-sm mb-8">Role <span class="text-danger-600">*</span></label>
                                <select class="form-control radius-8 form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px" asp-for="userRole.RoleId">
                                    @{
                                        foreach (var item in Model.roleList)
                                        {
                                            if (item.RoleId != Model.userRole.RoleId)
                                            {
                                                <option class="form-control radius-8" value="@item.RoleId">@item.RoleName</option>
                                            }
                                            else
                                            {
                                                <option selected class="form-control radius-8" value="@Model.userRole.RoleId">@item.RoleName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-20">
                                <label asp-for="user.Password" for="password" class="form-label fw-semibold text-primary-light text-sm mb-8">
                                    Password <span class="text-danger-600">*</span></label>
                                <input asp-for="user.Password" type="password" class="form-control radius-8" id="password" placeholder="Enter password" required>
                            </div>
@*                             <div class="mb-20">
                                <label for="password" class="form-label fw-semibold text-primary-light text-sm mb-8">Confirm Password <span class="text-danger-600">*</span></label>
                                <input type="password" class="form-control radius-8" id="confirmPassword" name="confirmPassword" placeholder="Enter password again" required>
                            </div> *@
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <a asp-action="Index" class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@