<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssistHub - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png" sizes="16x16">
    <!-- bootstrap fonts css-->
    <link href="~/bootstrapfonts/font/bootstrap-icons.min.css" rel="stylesheet" />
    <!-- remix icon font css  -->
    <link href="~/assets/css/remixicon.css" rel="stylesheet" />
    <!-- BootStrap css -->
    <link href="~/assets/css/lib/bootstrap.min.css" rel="stylesheet" />
    <!-- Apex Chart css -->
    <link href="~/assets/css/lib/apexcharts.css" rel="stylesheet" />
    <!-- Data Table css -->
    <link href="~/datatables/datatables.css" rel="stylesheet" />
    <!-- Text Editor css -->
    <link href="~/assets/css/lib/editor-katex.min.css" rel="stylesheet" />
    <link href="~/assets/css/lib/editor.atom-one-dark.min.css" rel="stylesheet" />
    <link href="~/assets/css/lib/editor.quill.snow.css" rel="stylesheet" />
    <!-- Date picker css -->
    <link href="~/assets/css/lib/flatpickr.min.css" rel="stylesheet" />
    <!-- Calendar css -->
    <link href="~/assets/css/lib/full-calendar.css" rel="stylesheet" />
    <!-- Vector Map css -->
    <link href="~/assets/css/lib/jquery-jvectormap-2.0.5.css" rel="stylesheet" />
    <!-- Popup css -->
    <link href="~/assets/css/lib/magnific-popup.css" rel="stylesheet" />
    <!-- Slick Slider css -->
    <link href="~/assets/css/lib/slick.css" rel="stylesheet" />
    <!-- main css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!--toastr css-->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
</head>

<body>
    <div class="card-body py-80 px-32 text-center">
        <img src="assets/images/error-img.png" alt="" class="mb-24">
        <h6 class="mb-16">Page not Found</h6>
        <p class="text-secondary-light">Sorry, the page you are looking for doesn’t exist </p>
        <a href="index.html" class="btn btn-primary-600 radius-8 px-20 py-11">Back to Home</a>
    </div>

    <!-- jQuery library js -->
    <script src="~/assets/js/lib/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Apex Chart js -->
    <script src="~/assets/js/lib/apexcharts.min.js"></script>

    <script src="~/datatables/datatables.js"></script>
    <!-- Iconify Font js -->
    <script src="~/assets/js/lib/iconify-icon.min.js"></script>
    <!-- jQuery UI js -->
    <script src="~/assets/js/lib/jquery-ui.min.js"></script>
    <!-- Vector Map js -->
    <script src="~/assets/js/lib/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="~/assets/js/lib/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Popup js -->
    <script src="~/assets/js/lib/magnifc-popup.min.js"></script>
    <!-- Slick Slider js -->
    <script src="~/assets/js/lib/slick.min.js"></script>
    <!-- main js -->
    <script src="~/assets/js/app.js"></script>
    <!-- Pie Chart js -->
    <script src="~/assets/js/piechartpagechart.js"></script>
</body>
</html>
